<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nonlinear Visualization</title>
    <!-- Styles -->
    <link href="/css/lib/default.css" rel="stylesheet"/>
    <link href="/css/lib/component.css" rel="stylesheet"/>
    <link href="/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/mmc-chat.css" rel="stylesheet">
    <link href="/css/lib/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/nixon.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style type="text/css">

        .forceLine {
            stroke: #5c6270;
            stroke-width: 3px;
        }

        .forceCircle {
            stroke: white;
            stroke-width: 2;
        }

        .forceText {
            fill: white;
            text-anchor: middle;
            font-size: 20px;
            font-family: arial;
        }

        .buttonText {
            fill: white;
            text-anchor: middle;
            font-size: 90px;
            font-family: arial;
        }

    </style>
</head>

<body class="sidebar-hide" style="overflow:Scroll;overflow-y:hidden">

<div id="leftOne" class="sidebar sidebar-shrink">
</div><!-- /# sidebar -->


<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a th:href="|/prototype/${account}/${curProjectId}/${curVersionId}|">
                <img id="logoImg" src="/logo/logo.png" data-logo_big="/logo/logo.png"
                     data-logo_small="/logo/logoSmall.png"
                     alt="Nixon"/>
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>

    </div>

    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib" onclick="backProjectPage()">
                <span class="user-avatar"><i class="ti-back-right"> </i> Back Project Page</span>
            </li>
        </ul>
    </div>
</div>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <!-- Bar Chart -->
                    <div class="col-lg-12" style="margin-top: -15px">
                        <div class="card alert" style="height: 140px">
                            <section id="set-6" style="margin-top: -10px;margin-bottom: 5px">
                                <div class="hi-icon-wrap hi-icon-effect-6">

                                    <a id="exploreButton" class="hi-icon hi-icon-archive"
                                       onclick="enterAnotherPage('explore')">
                                        Settings
                                    </a>

                                    <a class="hi-icon hi-icon-support" onclick="enterAnotherPage('define')">
                                        Support
                                    </a>
                                    <a class="hi-icon hi-icon-star" onclick="enterAnotherPage('ideate')">
                                        Fav
                                    </a>
                                    <a class="hi-icon hi-icon-contract" onclick="enterAnotherPage('prototype')">
                                        Contract
                                    </a>
                                    <a class="hi-icon hi-icon-refresh" onclick="enterAnotherPage('test')">
                                        Refresh
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div id="svgDiv" class="col-lg-12">
                        <svg id="mySvg" style="background: white;height: 736px;" class="col-lg-12">
                        </svg>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- /# container-fluid -->
</div><!-- /# main -->

</div><!-- /# content wrap -->

<script src="/js/lib/modernizr.custom.js"></script>
<script src="/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script>window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="/js/lib/d3/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
<script src="/js/lib/mmc-common.js"></script>
<script src="/js/lib/mmc-chat.js"></script>
<script src="/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/js/lib/chart-js/chartjs-init.js"></script>
<script src="/js/scripts.js"></script>
<script>


    var account = [[${account}]];
    var curProjectId = [[${curProjectId}]];
    var curVersionId = [[${curVersionId}]];
    var refreshPage = "/prototype/" + account + "/" + curProjectId + "/" + curVersionId;

    function backProjectPage() {
        var anotherPageUrl = "/projectList/" + account;
        window.location.href = anotherPageUrl;

    }

    function backProjectPage() {
        var anotherPageUrl = "/projectList/" + account;
        window.location.href = anotherPageUrl;

    }

    var color = d3.scale.category20();
    var nodes;
    var edges = [];
    var nodeMap = new Map();

    //绘制图形的区域
    var mySvg;
    var svgDiv = document.getElementById("svgDiv");

    //绘制图形区域的宽、高
    var width;
    var height;

    //绘制的三个要素，连线、截图、文本
    var lines;
    var circles;
    var texts;
    var force;

    //使node既可以单击也可以双击
    var clickTimer = null;

    window.onresize = function () {
        document.getElementById("mySvg").innerHTML = "";
        drawDefineSvg();
    };


    function drawDefineSvg() {
        width = svgDiv.offsetWidth;	//SVG绘制区域的宽度
        height = document.getElementById("svgDiv").offsetHeight;	//SVG绘制区域的高度
        mySvg = d3.select("#mySvg")        //在<body>中添加<svg>
            .attr("width", width)    //设定<svg>的宽度属性
            .attr("height", height);//设定<svg>的高度属性
        //2.转换数据
        force = d3.layout.force()
            .nodes(nodes)    //设定顶点数组
            .links(edges)    //设定边数组
            .size([width, height])    //设定作用范围
            .linkDistance(150)    //设定边的距离
            .charge(-1500);	//设定顶点的电荷数
        updateSvg();
        //tick事件的监听器
        force.on("tick", function () {
            //更新连线的端点坐标
            lines.attr("x1", function (d) {
                return d.source.x;
            });
            lines.attr("y1", function (d) {
                return d.source.y;
            });
            lines.attr("x2", function (d) {
                return d.target.x;
            });
            lines.attr("y2", function (d) {
                return d.target.y;
            });
            //更新节点坐标
            circles.attr("cx", function (d) {
                return d.x;
            });
            circles.attr("cy", function (d) {
                return d.y;
            });
            //更新节点文字的坐标
            texts.attr("x", function (d) {
                return d.x;
            });
            texts.attr("y", function (d) {
                return d.y;
            });
        });

    }

    findAllNodesByProjectId();
    findAllEdgesByProjectId();
    //此步目的是使先通过ajax得到数据，再进行绘制
    setTimeout(function () {
        drawDefineSvg();
    }, 500);


    function addSingleNode() {

        var r = confirm("是否添加新结点?");
        if (r == true) {
            $.ajax({
                type: 'POST',
                url: '/addSingleNode',
                data: {
                    "curProjectId": curProjectId
                },
                success: function (data, status) {
                    var str = JSON.stringify(data);
                    var newNode = JSON.parse(str);
                    nodeMap.set(newNode.nodeId, nodes.length);
                    nodes.push(newNode);
                    document.getElementById("mySvg").innerHTML = "";
                    updateSvg();

                }
            });


        }
    }


    function addNewNode(nodeId) {
        if (clickTimer) {
            window.clearTimeout(clickTimer);
            clickTimer = null;
        }
        clickTimer = window.setTimeout(function () {
            var r = confirm("是否添加新结点?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '/insertNewNodeAndNewEdge',
                    data: {
                        "curProjectId": curProjectId,
                        "nodeId": nodeId
                    },
                    success: function (data, status) {
                        var str = JSON.stringify(data);
                        var newNode = JSON.parse(str);
                        nodeMap.set(newNode.nodeId, nodes.length);
                        nodes.push(newNode);
                        edges.push({source: nodeMap.get(nodeId), target: nodes.length - 1});
                        document.getElementById("mySvg").innerHTML = "";
                        updateSvg();
                    }
                });
            }
        }, 300);
    }


    function deleteTheNode(nodeId) {
        if (clickTimer) {
            window.clearTimeout(clickTimer);
            clickTimer = null;
        }
        var r = confirm("是否删除该结点?");
        if (r == true) {
            var hasChild = false;
            var nodeOrder = nodeMap.get(nodeId);
            for (var i = 0; i < edges.length; i++) {
                if (edges[i].source.index == nodeOrder) {
                    hasChild = true;
                }
            }
            if (hasChild == true) {
                alert("父结点不允许删除!");
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/deleteOneNodeByNodeId',
                    data: {
                        "nodeId": nodeId
                    },
                    success: function (data, status) {
                        var nodeOrder = nodeMap.get(nodeId);

                        for (var i = 0; i < nodes.length; i++) {
                            if (nodes[i].nodeId == nodeId) {
                                nodes.splice(i, 1);
                            }
                        }
                        nodeMap.delete(nodeId);

                        for (var j = 0; j < edges.length; j++) {
                            if (edges[j].target.index == nodeOrder) {
                                edges.splice(j, 1);
                            }
                        }

                        document.getElementById("mySvg").innerHTML = "";
                        updateSvg();
                    }
                });


            }

        }
    }


    function updateSvg() {

        force.start();	//开启布局计算
        //绘制连线
        lines = mySvg.selectAll(".forceLine")
            .data(edges)
            .enter()
            .append("line")
            .attr("class", "forceLine");
        //绘制结点
        circles = mySvg.selectAll(".forceCircle")
            .data(nodes)
            .enter()
            .append("circle")
            .attr("class", "forceCircle")
            .attr("r", 50)
            .attr("onclick", function (d, i) {
                return "addNewNode(" + d.nodeId + ")";
            })
            .attr("ondblclick", function (d, i) {
                return "deleteTheNode(" + d.nodeId + ")";
            })
            .style("fill", function (d, i) {
                return color(i);
            })
            .call(force.drag);
        //绘制文字
        texts = mySvg.selectAll(".forceText")
            .data(nodes)
            .enter()
            .append("text")
            .attr("id", function (d) {
                return "text" + d.nodeId;
            })
            .attr("ondblclick", function (d) {
                return "modifyContent(" + d.nodeId + ")";
            })
            .attr("class", "forceText")
            .attr("x", function (d) {
                return d.x;
            })
            .attr("y", function (d) {
                return d.y;
            })
            .attr("dy", ".3em")
            .text(function (d) {
                return d.nodeContent;
            });


        var circleLine = mySvg
            .append("circle")
            .attr("cx", width - 30)
            .attr("cy", -580)
            .attr("r", 730)
            .style("fill", function () {
                return "rgb(50,200,180)";
            });


        mySvg.append("text")
            .attr("class", "forceText")
            .attr("x", width - 180)
            .attr("y", 30)
            .attr("dy", ".4em")
            .text("单击某结点:添加新结点");

        mySvg.append("text")
            .attr("class", "forceText")
            .attr("x", width - 180)
            .attr("y", 60)
            .attr("dy", ".4em")
            .text("双击某结点:删除该结点");


        mySvg.append("text")
            .attr("class", "forceText")
            .attr("x", width - 180)
            .attr("y", 90)
            .attr("dy", ".4em")
            .text("双击某文本:修改该文本");

        var addButton = mySvg
            .append("circle")
            .attr("cx", width - 30)
            .attr("cy", height / 2 - 50)
            .attr("r", 80)
            .attr("onclick", function () {
                return "addSingleNode()";
            })
            .style("fill", function () {
                return "rgb(130,199,232)";
            });


        var buttonText = mySvg
            .append("text")
            .attr("class", "buttonText")
            .attr("x", width - 75)
            .attr("y", height / 2 - 60)
            .attr("dy", ".5em")
            .attr("onclick", function () {
                return "addSingleNode()";
            })
            .text("+");
    }


    function modifyContent(nodeId) {
        var modifyNodeContent = prompt("请输入修改后的数据", document.getElementById("text" + nodeId).innerHTML);
        nodes[nodeMap.get(nodeId)].nodeContent = modifyNodeContent;
        if (modifyNodeContent != "" && modifyNodeContent != null) {

            $.ajax({
                type: 'POST',
                url: '/modifyContentByNodeId',
                data: {
                    "nodeDefineId": nodeId,
                    "newContent": modifyNodeContent
                },
                success: function (data, status) {
                    document.getElementById("text" + nodeId).innerHTML = modifyNodeContent;
                }
            });
        }
    }


    function findAllNodesByProjectId() {
        $.ajax({
            type: 'POST',
            url: '/findAllNodesByProjectId',
            data: {
                "curProjectId": curProjectId
            },
            success: function (data, status) {
                var str = JSON.stringify(data);
                nodes = JSON.parse(str);
                for (var i = 0; i < nodes.length; i++) {
                    nodeMap.set(nodes[i].nodeId, i);
                }
            }
        });

    }


    function findAllEdgesByProjectId() {
        $.ajax({
            type: 'POST',
            url: '/findAllEdgesByProjectId',
            data: {
                "curProjectId": curProjectId
            },
            success: function (data, status) {
                var edgeL = JSON.stringify(data);
                var edgeList = JSON.parse(edgeL);
                for (var i = 0; i < edgeList.length; i++) {
                    var m = nodeMap.get(edgeList[i].sourceNodeId);
                    var n = nodeMap.get(edgeList[i].targetNodeId);
                    edges.push({
                        source: m,
                        target: n
                    });
                }

            }
        });

    }

    function enterAnotherPage(page) {

        var anotherPageUrl = "/" + page + "/" + account + "/" + curProjectId + "/" + curVersionId;
        window.location.href = anotherPageUrl;

    }


</script>


</body>

</html>