<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nonlinear Visualization</title>
    <!-- Styles -->
    <link href="/css/lib/default.css" rel="stylesheet"/>
    <link href="/css/lib/component.css" rel="stylesheet"/>
    <link href="/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/mmc-chat.css" rel="stylesheet">
    <link href="/css/lib/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/nixon.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style type="text/css">

    </style>
</head>

<body style="overflow:Scroll;overflow-y:hidden">

<div id="leftOne" class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">


    <div class="nano">
        <div class="nano-content">
            <ul>
                <li th:each="myFile:${myFileList}">
                    <a class="sidebar-sub-toggle">
                        <i class="ti-file"></i>
                        <span th:id="|myFileName${myFile.myFileId}|" th:text="${myFile.myFileName}"
                              th:onclick="|displayFileInfo('${myFile.myFileId}')|"></span>
                        <span class="sidebar-collapse-icon ti-close"
                              th:onclick="|deleteMyFile('${myFile.myFileId}')|"></span>
                        <span class="sidebar-collapse-icon ti-search"
                              th:onclick="|openMyFile('${myFile.myFileId}')|"></span>
                    </a>
                </li>

                <br>
            </ul>
            <div style="margin-left: 20px;">
                <input id="myFile" type="file"/>
                <br>
                <button onclick="uploadSingleFile()">
                    上传
                </button>
            </div>
        </div>
    </div>


</div><!-- /# sidebar -->


<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a th:href="|/prototype/${account}/${curProjectId}/${curVersionId}|">
                <img id="logoImg" src="/logo/logo.png" data-logo_big="/logo/logo.png"
                     data-logo_small="/logo/logoSmall.png"
                     alt="Nixon"/>
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib" onclick="backProjectPage()">
                <span class="user-avatar"><i class="ti-back-right"> </i> Back Project Page</span>
            </li>
        </ul>
    </div>
</div>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <!-- Bar Chart -->
                    <div class="col-lg-12" style="margin-top: -15px">
                        <div class="card alert" style="height: 140px">
                            <section id="set-6" style="margin-top: -10px;margin-bottom: 5px">
                                <div class="hi-icon-wrap hi-icon-effect-6">
                                    <a id="exploreButton" class="hi-icon hi-icon-archive"
                                       onclick="enterAnotherPage('explore')">
                                        Settings
                                    </a>

                                    <a class="hi-icon hi-icon-support" onclick="enterAnotherPage('define')">
                                        Support
                                    </a>
                                    <a class="hi-icon hi-icon-star" onclick="enterAnotherPage('ideate')">
                                        Fav
                                    </a>
                                    <a class="hi-icon hi-icon-contract" onclick="enterAnotherPage('prototype')">
                                        Contract
                                    </a>
                                    <a class="hi-icon hi-icon-refresh" onclick="enterAnotherPage('test')">
                                        Refresh
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-bd lobidisable" style="background: white;height: 555px;">
                            <div id="contentArea" style="height: 550px;" class="panel-body">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="margin-top: -20px">
                        <div style="background: white;height: 120px;">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>文件信息</h4>
                                </div>
                                <div class="card-body" style="height: 95px">
                                    <div class="panel-group" style="height: 95px">
                                        <div class="panel panel-default" style="height: 90px">
                                            <div class="panel-heading" style="height: 90px">
                                                <h4 class="panel-title">
                                                    <h4 id="curFileInfo"></h4>
                                                </h4>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><!-- /# container-fluid -->
</div><!-- /# main -->

</div><!-- /# content wrap -->

<script src="/js/lib/modernizr.custom.js"></script>
<script src="/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script>window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="/js/lib/sidebar.js"></script><!-- sidebar -->
<script>

    var account = [[${account}]];
    var curProjectId = [[${curProjectId}]];
    var curVersionId = [[${curVersionId}]];

    var refreshPage = "/explore/" + account + "/" + curProjectId + "/" + curVersionId;

    function backProjectPage() {
        var anotherPageUrl = "/projectList/" + account;
        window.location.href = anotherPageUrl;

    }

    function enterAnotherPage(page) {
        var anotherPageUrl = "/" + page + "/" + account + "/" + curProjectId + "/" + curVersionId;
        window.location.href = anotherPageUrl;
    }

    function uploadSingleFile() {
        var formData = new FormData();
        formData.append('curProjectId', [[${curProjectId}]]);
        if (document.getElementById("myFile").files[0] != undefined) {
            var fileObj = document.getElementById("myFile").files[0];
            var fileName = fileObj.name;
            formData.append('file', fileObj);

            if (fileName.indexOf("pdf") < 0 && fileName.indexOf('jpg') < 0 && fileName.indexOf("doc") < 0) {
                alert("文件格式错误");
                return false;
            }
            $.ajax({
                url: "/uploadSingleFile",
                type: "POST",
                dataType: "json",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data, status) {
                    if (data == 200) {
                        alert("上传成功!");
                        window.location.href = "/explore/" + [[${account}]] + "/" +
                            [[${curProjectId}]] + "/" + [[${curVersionId}]];
                    } else {
                        alert("上传失败！")
                    }

                },
                error: function (data, status) {
                    alert("上传失败!");
                }
            });
        }

    }

    function deleteMyFile(myFileId) {
        var r = confirm("是否删除该文件？");
        if (r == true) {
            $.ajax({
                type: 'POST',
                url: '/deleteOneFile',
                data: {
                    "myFileId": myFileId
                },
                success: function (data, status) {
                    alert("删除成功");

                    window.location.href = refreshPage;
                }
            });
        }

    }

    function openMyFile(myFileId) {
        $.ajax({
            type: 'POST',
            url: '/findOneFileInfoByFileId',
            data: {
                "myFileId": myFileId
            },
            success: function (myFileInfo, status) {
                document.getElementById("curFileInfo").innerHTML = "<h ondblclick=\"modifyFileInfo(" + "'" + myFileId + "'" + "," + "'" + myFileInfo + "'" + ")\">" + myFileInfo + " </h>";
            }
        })
        ;
        var myFileName = document.getElementById("myFileName" + myFileId).innerText;
        var extension = myFileName.substring(myFileName.lastIndexOf('.') + 1);
        if (extension == 'jpg') {
            $.ajax({
                type: 'POST',
                url: '/findOneFileNameByFileId',
                data: {
                    "myFileId": myFileId
                },
                success: function (myFileName, status) {
                    document.getElementById("contentArea").innerHTML = "<img src=\"\\files\\" + curProjectId + "\\" + myFileName + "\"/>";
                }
            });

        } else if (extension == 'docx') {
            $.ajax({
                type: 'POST',
                url: '/openOneDocxFile',
                data: {
                    "myFileId": myFileId
                },
                success: function (data, status) {
                    document.getElementById("contentArea").innerHTML = data;
                }
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '/findOneFileNameByFileId',
                data: {
                    "myFileId": myFileId
                },
                success: function (myFileName, status) {

                    var pdfFrame = "<iframe  style=\"width: 100%; height: 500px;\" src=\"\\files\\" +
                        curProjectId + "\\" + myFileName + "\"></iframe>";
                    document.getElementById("contentArea").innerHTML = pdfFrame;

                }
            });
        }

    }


    function modifyFileInfo(fileId, oldFileInfo) {
        var newFileInfo = prompt("请输入新的文件信息:", oldFileInfo);
        if (newFileInfo != null && newFileInfo != "") {
            $.ajax({
                type: 'POST',
                url: '/modifyFileInfo',
                data: {
                    "fileId": fileId,
                    "newFileInfo": newFileInfo
                },
                success: function (data, status) {
                    document.getElementById("curFileInfo").innerHTML = "<h ondblclick=\"modifyFileInfo(" + "'" + fileId + "'" + "," + "'" + newFileInfo + "'" + ")\">" + newFileInfo + " </h>";

                }
            });
        }

    }

    function displayFileInfo(myFileId) {
        openMyFile(myFileId);

    }


</script>

<script src="/js/scripts.js"></script>


</body>

</html>