<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nonlinear Visualization</title>
    <!--jsmind-->
    <link th:href="@{/css/jsmind.css}" rel="stylesheet"/>
    <!-- Styles -->
    <link th:href="@{/css/lib/htmleaf-demo.css}" rel="stylesheet">
    <link th:href="@{/css/lib/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/component.css}" rel="stylesheet"/>
    <link th:href="@{/fontAwesome/css/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/css/lib/mmc-chat.css}" rel="stylesheet">
    <link th:href="@{/css/lib/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/nixon.css}" rel="stylesheet">
    <link th:href="@{/css/lib/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/lib/jaliswall/normalize.css}" rel="stylesheet">
<!--    <link th:href="@{/css/lib/jaliswall/default.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/lib/jaliswall/styles.css}" rel="stylesheet">-->


    <style type="text/css">
        /*右下角的加号（添加种类）*/
        /*-------------------------------------------------------------------------------------------------*/
        #boxes div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        #boxes {
            counter-reset: number;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        #boxes div {
            width: 5vw;
            height: 5vw;
            min-width: 5em;
            min-height: 5em;
            background: var(--color, #aaa);
            --dx: calc(var(--size) - var(--x));
            --dy: calc(var(--size) - var(--y));
        }

        #boxes div:first-child {
            --x: 84;
            --y: 75;
            --size: 128;
        }

        #boxes div:first-child,
        #boxes div:hover {
            opacity: 1;
            border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
            border-radius: calc(var(--x) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--dx)
            / var(--size) * 100%) calc(var(--x) / var(--size) * 100%) /calc(var(--y) / var(--size) * 100%) calc(var(--y)
            / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%)
        }

        .forceText {
            text-anchor: middle;
            font-size: 50px;
            font-family: arial,serif;
        }
        /*-------------------------------------------------------------------------------------------------*/
        /**
         思维导图
         */
        #jsmind_container{
            width:100%;
            height:735px;
            border:solid 1px #ccc;
            background:white;
        }

        /*-------------------------------------------------------------------------------------------------*/
        /*鼠标右键的菜单*/
        .context-menu {
            display: none;
            z-index: 1000;
            position: absolute;
            overflow: hidden;
            border: 1px solid #CCC;
            white-space: nowrap;
            font-family: sans-serif;
            background: #FFF;
            color: #333;
            border-radius: 5px;
            padding: 0;
        }

        /* 列表中的每个元素 */
        .context-menu li {
            padding: 8px 12px;
            cursor: pointer;
            list-style-type: none;
            transition: all .3s ease;
            user-select: none;
        }

        .context-menu li:hover {
            background-color: #DEF;
        }
        /*-------------------------------------------------------------------------------------------------*/


    </style>


</head>

<body class="sidebar-hide" style="overflow:Scroll;overflow-y:hidden">

<!--思维导图树右键点击弹出的菜单-->
<ul class='context-menu'>
    <li data-action="first">添加子节点</li>
    <li data-action="second">删除该节点</li>
</ul>

<!-- /# sidebar -->
<div id="leftOne" class="sidebar sidebar-shrink">
</div>


<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a th:href="|/prototype/${account}/${curProjectId}/${curVersionId}|">
                <img id="logoImg" src="/logo/logo.png" data-logo_big="/logo/logo.png"
                     data-logo_small="/logo/logoSmall.png"
                     alt="Nixon"/>
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib" onclick="backProjectPage()">
                <span class="user-avatar"><i class="ti-back-right"> </i> Back Project Page</span>
            </li>
        </ul>
    </div>
</div>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <!-- Bar Chart -->
                    <div class="col-lg-12" style="margin-top: -15px">
                        <div class="card alert" style="height: 140px">
                            <section id="set-6" style="margin-top: -10px;margin-bottom: 5px">
                                <div class="hi-icon-wrap hi-icon-effect-6">
                                    <a id="exploreButton" class="hi-icon hi-icon-archive"
                                       onclick="enterAnotherPage('explore')">
                                        Settings
                                    </a>
                                    <a class="hi-icon hi-icon-support" onclick="enterAnotherPage('define')">
                                        Support
                                    </a>
                                    <a class="hi-icon hi-icon-star" onclick="enterAnotherPage('ideate')">
                                        Fav
                                    </a>
                                    <a class="hi-icon hi-icon-contract" onclick="enterAnotherPage('prototype')">
                                        Contract
                                    </a>
                                    <a class="hi-icon hi-icon-refresh" onclick="enterAnotherPage('test')">
                                        Refresh
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <article class="htmleaf-container">
                            <!--词云-->
                            <div>
                                <button id="btnCreate">Create</button>
                                <button id="btnSave" disabled>Save</button>
                                <div id="svgBox"></div>
                            </div>
                            <!--思维导图   ;display: none"-->
                            <div  hidden="hidden" id="jsmind_container" ></div>
                            <!--便利签-->
                            <div class="wall ConvenienceVisa " style="height: 735px;background: white"
                                 id="convenienceContainerFather" >
                                <!-- /# row -->
                                <!--<div  hidden="hidden" id="sub11">-->

                                <div style="margin-left: 10px; margin-top: 10px; margin-right: 20px; float: left;
                                        position: absolute"
                                     th:each="category:${categoryList}" class="col-lg-2 article ConvenienceVisaSon"
                                     th:classappend="${category.categoryName}"
                                     onmousedown="mouseDown(this,event)" onmouseup="mouseUp(this)">

                                    <div style="border:solid 2px #c2c2c2" class="card alert panel panel-default">
                                        <div class="card-header " style="position: relative;">
                                            <!--点击红叉关闭的图片-->
                                            <div style="position: absolute;right: 0px;top: 0px;">
                                                <span onclick="showJsmind()">
                                                    <img style="height: 20px;width: 20px;"
                                                         src="/images/svg/x2.svg"/>
                                                </span>
                                            </div>
                                            <h4>
                                                <span th:id="|categoryName${category.categoryId}|"
                                                      th:ondblclick="|modifyCategoryName('${category.categoryId}')|"
                                                      th:text="${category.categoryName}">
                                                </span>
                                            </h4>
                                            <div style="position: absolute;right: 30px;top: 2px;">
                                                <span th:onclick="|addNewIdea('${category.categoryId}')|"
                                                      class="ti-plus"></span>
                                                <span th:onclick="|deleteOneCategory('${category.categoryId}')|"
                                                      class="ti-minus"></span>
                                            </div>
                                        </div>
                                        <div class="card-body panel-body">
                                            <table class="table table-responsive table-hover " id="convenienceTable">
                                                <tbody>
                                                <tr th:id="|idea${idea.ideaId}|"
                                                    th:each="idea:${category.ideaList}">
                                                    <td>
                                                        <a th:id="|ideaContent${idea.ideaId}|"
                                                           th:ondblclick="|modifyIdeaContent('${idea.ideaId}')|"
                                                           th:text="${idea.ideaContent}">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <span style="height: 16px;width: 16px;;"
                                                              th:onclick="|clickOneIdeaMark('${idea.ideaId}')|"
                                                              th:id="|heart${idea.ideaId}|" th:switch="${idea.marked}">
                                                            <img th:case="true"
                                                                 style="height: 16px;width: 16px;margin-top: -5px"
                                                                 src="/images/svg/heart2.svg"/>
                                                            <img th:case="false"
                                                                 style="height: 16px;width: 16px;margin-top: -5px"
                                                                 src="/images/svg/heart.svg"/>
                                                        </span>
                                                        <span th:onclick="|deleteOneIdeaById('${idea.ideaId}')|"
                                                              class="ti-trash"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="boxes" onclick="addNewCategory()">
                                <div style="--color: #C0C0C0;position: absolute;right: 35px;bottom: 20px;">
                                    <text class="forceText" style="color: white">+</text>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->

</div>
<!--jsmind-->
<script th:src="@{/js/jsmind/jsmind.js}"></script>
<script th:src="@{/js/jsmind/jsmind.draggable.js}"></script>
<script th:src="@{/js/lib/modernizr.custom.js}"></script>
<script th:src="@{/js/lib/jquery.min.js}"></script><!-- jquery vendor -->
<script>window.jQuery || document.write('<script th:src="@{/js/jquery-1.11.0.min.js}"><\/script>')</script>
<script th:src="@{/js/lib/jquery.nanoscroller.min.js}"></script><!-- nano scroller -->
<script th:src="@{/js/lib/d3/d3.v3.min.js}" charset="utf-8"></script>
<script th:src="@{/js/lib/sidebar.js}"></script><!-- sidebar -->
<script th:src="@{/js/lib/bootstrap.min.js}"></script><!-- bootstrap -->
<script th:src="@{/js/lib/mmc-common.js}"></script>
<script th:src="@{/js/lib/mmc-chat.js}"></script>
<script th:src="@{/js/lib/chart-js/Chart.bundle.js}"></script>
<script th:src="@{/js/lib/chart-js/chartjs-init.js}"></script>
<script th:src="@{/js/lib/float-module.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-waterfall.js}"></script>
<script th:src="@{/js/jaliswall.js}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/script.js/2.5.9/script.min.js"></script>
<!--<script src="/js/scripts.js"></script>-->
<script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.5.0/sockjs.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script th:src="@{/js/FastJSON.js}"></script>
<!--词云-->
<script th:src="@{/js/D3/jquery.min.js}"></script>
<script th:src="@{/js/D3/d3.v3.min.js}"></script>
<script th:src="@{/js/D3/d3.layout.cloud.js}"></script>
<script th:src="@{/js/D3/WordCloud.js}"></script>


<script >

    /**
     *Author: czw
     * 创建List存储创建词云所需的文本（这种方法会存在bug）
     */
    const wordCloud = [];
    const textList = document.getElementById("convenienceContainerFather").getElementsByTagName("a");
    for (let i=0; i<textList.length; i++){
        wordCloud.push(textList[i].text);
    }


    const projectName = "[[${projectName}]]";
    const account = [[${account}]];
    const curProjectId = [[${curProjectId}]];
    const curVersionId = [[${curVersionId}]];
    const refreshPage = "/ideate/" + account + "/" + curProjectId + "/" + curVersionId;
    let outCategoryList;

    /**
     *Author: czw
     * 获取数据库中categoryList
     */
    $.ajax({
        method: "GET",
        url: '/getCategoryList',
        async:false, // 同步请求,使外部方法能够获取到值
        data : {
            "curProjectId": curProjectId
        },
        success: function (data) {
            outCategoryList = data;
        }
    });
    console.log(outCategoryList);

    /**
     *Author: czw
     * stomp通信订阅后端Controller传过来的值，生成新的便利贴
     */
    const socket = new SockJS('/gs-guide-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/greetings', function (greeting) {
            const h = window.innerHeight - 300;
            const w = window.innerWidth - 200;
            const divleft = Math.random() * w;
            const divtop = Math.random() * h;

            wordCloud.push(JSON.parse(greeting.body).content);

            const newIdeaCategory = disp_prompt();

            /**
             *Author: czw
             * 先遍历一遍categoryList,查找下新添加的类别是否是新类别
             */
            let addIdeaFlag = 0.8;
            for(let i=0; i< outCategoryList.length; i++){
                if(outCategoryList[i].categoryName === newIdeaCategory){
                    addIdeaFlag = outCategoryList[i].categoryId;
                }
            }

            if(addIdeaFlag === 0.8){

                /**
                 *Author: czw
                 * 将新类别添加到数据库中
                 */
                if (newIdeaCategory != null && newIdeaCategory !== "") {
                    $.ajax({
                        type: 'POST',
                        url: '/addNewCategory',
                        data: {
                            "projectId": curProjectId,
                            "categoryName": newIdeaCategory
                        },
                        success: function (data, status) {
                            /**
                             *Author: czw
                             * 查找出新添加的类别的categoryId
                             */
                            $.ajax({
                                method: "GET",
                                url: '/getCategoryList',
                                async:false, // 同步请求,使外部方法能够获取到值
                                data : {
                                    "curProjectId": curProjectId
                                },
                                success: function (data) {


                                    const outCategoryList2 = data;
                                    let addIdeaFlag2 = 0.7;
                                    for(let i=0; i< outCategoryList2.length; i++){
                                        if(outCategoryList2[i].categoryName === newIdeaCategory){
                                            addIdeaFlag2 = outCategoryList2[i].categoryId;
                                        }
                                    }
                                    /**
                                     *Author: czw
                                     * 将新类别的新想法添加到数据库
                                     */
                                    if (JSON.parse(greeting.body).content !== null && JSON.parse(greeting.body).content !== "") {
                                        if(addIdeaFlag2 !== 0.7) {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/addNewIdea',
                                                data: {
                                                    "categoryId": addIdeaFlag2,
                                                    "ideaContent": JSON.parse(greeting.body).content
                                                },
                                                success: function (data, status) {
                                                    window.location.href = refreshPage;
                                                }
                                            });
                                        }
                                    }else{
                                        alert("你传入的新Idea内容为空或新种类没有添加进去！");
                                    }
                                }
                            });
                        }
                    });
                }
            }else {
                /**
                 *Author: czw
                 * 在旧的种类上添加新的Idea
                 */
                if (JSON.parse(greeting.body).content !== null && JSON.parse(greeting.body).content !== "") {
                    $.ajax({
                        type: 'POST',
                        url: '/addNewIdea',
                        data: {
                            "categoryId": addIdeaFlag,
                            "ideaContent": JSON.parse(greeting.body).content
                        },
                        success: function (data, status) {
                            window.location.href = refreshPage;
                        }
                    });
                }else{
                    alert("你传入的新Idea内容为空！");
                }
            }

        });
    });

    /**
     *Author: czw
     * 在弹出框输入新Idea的类别
     */
    function disp_prompt(){
        return prompt("输入传入Idea的类别：", "xxx"); // 弹出input框
    }



    /**
     *Author: czw
     * 修改数据库中读取的便利签的位置
     */
    for (let i= 0 ; i< document.getElementsByClassName("ConvenienceVisaSon").length; i++){
        const h = window.innerHeight - 300;
        const w = window.innerWidth - 200;
        document.getElementsByClassName("ConvenienceVisaSon")[i].style.left = Math.random() * w + "px";
        document.getElementsByClassName("ConvenienceVisaSon")[i].style.top = Math.random() * h + "px";
        //document.getElementsByClassName("ConvenienceVisaSon")[i].style.backgroundColor = randomColor();
    }


    <!-- ----------------------------------------------------------------------------------------------------------- -->

    function backProjectPage() {
        window.location.href = "/projectList/" + account;

    }

    // $(function () {
    //     $('.wall').jaliswall({item: '.article'});
    // });

    function clickOneIdeaMark(ideaId) {
        $.ajax({
            type: 'POST',
            url: '/changeIdeaMarkById',
            data: {
                "ideaId": ideaId
            },
            success: function (data, status) {
                window.location.href = refreshPage;
            }
        });

    }

    function addNewCategory() {
        const categoryName = prompt("请输入类别名称:", "类别x");
        if (categoryName != null && categoryName !== "") {
            $.ajax({
                type: 'POST',
                url: '/addNewCategory',
                data: {
                    "projectId": curProjectId,
                    "categoryName": categoryName
                },
                success: function (data, status) {
                    window.location.href = refreshPage;
                }
            });
        }
    }

    function deleteOneCategory(categoryId) {
        const r = confirm("是否删除该类别");
        if (r === true) {
            $.ajax({
                type: 'POST',
                url: '/deleteOneCategoryById',
                data: {
                    "categoryId": categoryId
                },
                success: function (data, status) {
                    window.location.href = refreshPage;
                }
            });
        }

    }

    function addNewIdea(categoryId) {
        const ideaContent = prompt("请输入新想法的内容:", "想法x");
        if (ideaContent !== null && ideaContent !== "") {
            $.ajax({
                type: 'POST',
                url: '/addNewIdea',
                data: {
                    "categoryId": categoryId,
                    "ideaContent": ideaContent
                },
                success: function (data, status) {
                    window.location.href = refreshPage;
                }
            });
        }

    }

    function deleteOneIdeaById(ideaId) {
        const r = confirm("是否删除该想法?");

        if (r === true) {
            $.ajax({
                type: 'POST',
                url: '/deleteOneIdeaById',
                data: {
                    "ideaId": ideaId
                },
                success: function (data, status) {
                    document.getElementById("idea" + ideaId).remove();
                }
            });
        }

    }

    function enterAnotherPage(page) {
        const anotherPageUrl = "/" + page + "/" + account + "/" + curProjectId + "/" + curVersionId;
        window.location.href = anotherPageUrl;

    }

    function modifyCategoryName(categoryId) {
        const oldName = document.getElementById("categoryName" + categoryId).innerHTML;
        const categoryName = prompt("请输入新的类别名称:", oldName);
        if (categoryName !== "" && categoryName != null) {
            $.ajax({
                type: 'POST',
                url: '/modifyCategoryName',
                data: {
                    "categoryId": categoryId,
                    "categoryName": categoryName
                },
                success: function (data, status) {
                    document.getElementById("categoryName" + categoryId).innerHTML = categoryName;
                }
            });
        }
    }

    function modifyIdeaContent(ideaId) {

        const oldContent = document.getElementById("ideaContent" + ideaId).innerHTML;
        const ideaContent = prompt("请输入新的想法内容:", oldContent);
        if (ideaContent !== "" && ideaContent != null) {
            $.ajax({
                type: 'POST',
                url: '/modifyIdeaContent',
                data: {
                    "ideaId": ideaId,
                    "ideaContent": ideaContent
                },
                success: function (data, status) {
                    alert("修改内容成功!");
                    document.getElementById("ideaContent" + ideaId).innerHTML = ideaContent;
                }
            });
        }
    }

    <!-- ----------------------------------------------------------------------------------------------------------- -->

</script>


<script type="text/javascript">


    let currentNodeText; //当前点击节点的文本
    let jmObject; //jsMind对象的副本


    /**
     *Author: czw
     * 将便利签隐藏掉，并将思维导图显示出来
     */
    function showJsmind() {
        //显示思维导图
        $("#jsmind_container").removeAttr('hidden');

        //将所有便利签隐藏掉
        const ConvenienceVisaArray = document.getElementsByClassName("ConvenienceVisaSon");
        for(let i=0; i<ConvenienceVisaArray.length; i++){
            ConvenienceVisaArray[i].setAttribute('hidden','hidden');
        }
        //将便利签的父DIv也隐藏掉
        document.getElementById("convenienceContainerFather").setAttribute('hidden','hidden');
    }

    /**
     *Author: czw
     * 获取数据库中categoryList,用于给思维导图jsmind中的树添加节点
     */
    let outCategoryList3;
    $.ajax({
        method: "GET",
        url: '/getCategoryList',
        async:false, // 同步请求,使外部方法能够获取到值
        data : {
            "curProjectId": curProjectId
        },
        success: function (data) {
            outCategoryList3 = data;
        }
    });


    /**
     *Author: czw
     * 创建jsmind中的对象数组
     */
    const jsmindData = [];
    jsmindData.push(
        {"id": "root", "isroot": true, "topic": projectName }
    )
    outCategoryList3.forEach(function (item){
        jsmindData.push(
            {"id": item.id, "parentid":"root", "topic":item.categoryName}
        )
        item.ideaList.forEach(function(item2){
            jsmindData.push(
                {"id":item2.id, "parentid":item.id, "topic":item2.ideaContent,"foreground-color": "#33ff33"}
            )
        })
    })


    function load_jsmind() {
        const mind = {
            "meta": {
                "name": "demo",
                "author": "954385003qq.com",
                "version": "0.2",
            },
            "format": "node_array",

            "data": jsmindData


        };
        const options = {
            container: 'jsmind_container',
            editable: true,
            theme: 'primary'
        };
        const jm = jsMind.show(options, mind);

        jmObject = jm;
        //jm.expand_all();//展开全部节点
        //jm.set_node_color('sub21', 'green', '#ccc');
        //jm.add_node("sub2", "sub23", "new node", {"background-color": "red"});
        //jm.set_readonly(true);
        // var mind_data = jm.get_data();
        // alert(mind_data);
        //jm.get_node("sub1").children;
    }
    load_jsmind();

    /**
     *Author: czw
     * 点击思维导图的节点显示其及其子节点下的思维导图
     */
    $("#jsmind_container").on("click", 'jmnode', function () {
        //记住$(this)与this的区别
        //console.log("$(this).text():" + $(this).text());

        //获取当前点击节点的nodeid
        const jmnodeId = this.getAttribute('nodeid');

        // 当前节点下的子节点数组(点击根节点的时候会出现bug)
        const childrenNodeArray = jmObject.get_node(jmnodeId).children;
        // sonNodeTopics 保存当前节点及其子节点的的topic
        const sonNodeTopics = [];
        for (let i = 0; i < childrenNodeArray.length; i++) {
            //console.log(childrenNodeArray[i].topic);
            sonNodeTopics.push(childrenNodeArray[i].topic);
        }
        sonNodeTopics.push(jmObject.get_node(jmnodeId).topic);


        //将思维导图隐藏掉
        $("#jsmind_container").attr('hidden', 'hidden');
        //将便利签的父Div显示出来
        document.getElementById("convenienceContainerFather").removeAttribute('hidden');

        const DivArray = document.getElementsByTagName("div");
        for (let i = 0; i < DivArray.length; i++) {
            const DivClassName = DivArray[i].className;
            //遍历当前节点的子节点数组(包括自身)，观察当前Div的classname中是否包含子节点数组中的topicjsmind_container
            for (let j = 0; j < sonNodeTopics.length; j++) {
                if (DivClassName.toString().indexOf(sonNodeTopics[j]) > -1) {

                    //将自己的便利签显示出来,其他的便利签原本已是隐藏状态
                    DivArray[i].removeAttribute('hidden');
                }
            }
        }
    });


    /**
     *Author: czw
     * 便利签可拖拽
     */
    function mouseDown(self, event) {
        //console.log("mouseDown的self:");
        //console.log(self);
        const ev = event || window.event;
        event.stopPropagation();
        const disX = ev.clientX - self.offsetLeft;
        const disY = ev.clientY - self.offsetTop;
        const corrDiv = self;
        document.onmousemove = function (event) {
            const ev = event || window.event;
            corrDiv.style.left = ev.clientX - disX + "px";
            corrDiv.style.top = ev.clientY - disY + "px";
            corrDiv.style.cursor = "move";
        };
    }

    function mouseUp(self) {
        //console.log("mouseUp的self:");
        //console.log(self);
        document.onmousemove = null;
        self.style.cursor = "default";
    }

    /**
     *Author: czw
     * 随机颜色
     */
    function randomColor() {
        const red = Math.round(Math.random() * 255);
        const green = Math.round(Math.random() * 255);
        const blue = Math.round(Math.random() * 255);
        return "rgb(" + red + "," + green + "," + blue + ")";
    }




</script>
</body>

</html>