<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nonlinear Visualization</title>

    <!-- Styles -->
    <link href="/css/lib/default.css" rel="stylesheet"/>
    <link href="/css/lib/component.css" rel="stylesheet"/>
    <link href="/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/mmc-chat.css" rel="stylesheet">
    <link href="/css/lib/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/nixon.css" rel="stylesheet">
    <link href="/css/lib/styles.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link href="/css/lib/normalize.css" rel="stylesheet"/><!--CSS RESET-->
    <link href="/css/lib/jquery.easy_slides.css" rel="stylesheet"/>
    <link href="/css/lib/jq22-demo.css" rel="stylesheet">
    <link href="/css/lib/jquery.galpop.css" rel="stylesheet">
    <link href="/css/lib/circle/courseStyle.css" rel="stylesheet">
    <link href="/css/lib/circle/events.css" rel="stylesheet">
    <link href="/css/lib/circle/options.css" rel="stylesheet">
    <link href="/css/lib/circle/squares.css" rel="stylesheet">


</head>

<body class="bg-primary">

<div class="Nixon-invoice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="invoice" class="effect2 m-t-60">
                    <div id="invoice-mid">

                        <div><img src="/images/hi.svg" height="100px" width="100px"></div>

                    </div>
                    <!--End Invoice Mid-->

                    <div id="invoice-bot">

                        <div id="invoice-table">
                            <table class="table table-responsive">
                                <tr class="tabletitle">
                                    <td>
                                        <h2>项目名称</h2></td>
                                    <td>
                                        <h2>版本数</h2></td>
                                    <td>
                                        <h2>描述</h2></td>
                                    <td>
                                        <h2></h2></td>
                                </tr>

                                <tr th:each="project:${projectList}" class="service">
                                    <td>
                                        <h4 th:id="|projectName${project.projectId}|"
                                            th:text="${project.projectName}"
                                            th:ondblclick="|modifyProjectName(${project.projectId})|"></h4>
                                    </td>
                                    <td>
                                        <h4 th:text="${project.newestVersionOrder}"></h4>
                                    </td>
                                    <td>
                                        <h4 th:id="|projectInfo${project.projectId}|"
                                            th:text="${project.projectInfo}"
                                            th:ondblclick="|modifyProjectInfo(${project.projectId})|"></h4>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-flat"
                                                th:onclick="|enterOneProject(${project.projectId})|">
                                                <span class="ti-arrow-right">
                                                </span> 进入此项目
                                        </button>

                                    </td>

                                </tr>
                                <tr class="tabletitle">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-flat"
                                                onclick="addNewProject()">
                                                <span class="ti-plus">
                                                </span>添加新项目
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <!--End Table-->


                    </div>

                    <button class="btn btn-primary btn-flat m-b-30 m-t-30" onclick="DrawingBoard ()">Drawing board
                    </button>

                    <!--End InvoiceBot-->
                    <button class="btn btn-primary btn-flat m-b-30 m-t-30" onclick="threeDScene()">Three-dimensional Scene
                    </button>

                    <button class="btn btn-primary btn-flat m-b-30 m-t-30" onclick="voiceDictation()">Voice dictation
                    </button>

                </div>
                <!--End Invoice-->
            </div>
        </div>
    </div>
</div>

</body>


<script src="/js/lib/modernizr.custom.js"></script>
<script src="/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script>window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="/js/lib/d3/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
<script src="/js/lib/mmc-common.js"></script>
<script src="/js/lib/mmc-chat.js"></script>
<script src="/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/js/lib/chart-js/chartjs-init.js"></script>
<script src="/js/lib/float-module.min.js"></script>
<script th:inline="javascript">
    var account = [[${account}]];

    function addNewProject() {
        var projectName = prompt("请输入项目名称:", "项目x");
        if (projectName != null && projectName != "") {
            $.ajax({
                type: 'POST',
                url: '/addNewProject',
                data: {
                    "account": account,
                    "projectName": projectName
                },
                success: function (data, status) {
                    alert("添加成功!");
                    window.location.href = "/projectList/" + account;
                },
                error: function (data, status) {
                    alert("添加失败!");
                }
            });
        }
    }

    function modifyProjectName(projectId) {
        var oldName = document.getElementById("projectName" + projectId).innerText;
        var projectName = prompt("请输入新的项目名称:", oldName);
        if (projectName != null && projectName != "") {
            $.ajax({
                type: 'POST',
                url: '/modifyProjectName',
                data: {
                    "projectId": projectId,
                    "projectName": projectName
                },
                success: function (data, status) {
                    alert("修改成功!");
                    window.location.href = "/projectList/" + account;
                },
                error: function (data, status) {
                    alert("修改失败!");
                }
            });
        }

    }

    function modifyProjectInfo(projectId) {
        var oldInfo = document.getElementById("projectInfo" + projectId).innerText;
        var projectInfo = prompt("请输入新的项目信息:", oldInfo);
        if (projectInfo != null && projectInfo != "") {
            $.ajax({
                type: 'POST',
                url: '/modifyProjectInfo',
                data: {
                    "projectId": projectId,
                    "projectInfo": projectInfo
                },
                success: function (data, status) {
                    alert("修改成功!");
                    window.location.href = "/projectList/" + account;
                },
                error: function (data, status) {
                    alert("修改失败!");
                }
            });
        }

    }

    function enterOneProject(projectId) {
        window.location.href = "/enter/" + account + "/" + projectId;
    }

    function voiceDictation() {
        //alert("hello");
        window.location.href = "/voiceDictation/";
        //window.location.href = "/prototypePage/";
    }

    function threeDScene(){
        //跳转到3D场景页面
        window.location.href = "/threeDScene/";
    }


    function DrawingBoard(){
        //跳转到画板界面
        window.location.href = "/DrawingBoard/";
    }

</script>
</html>