<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <style type="text/css">

        #boxes div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        #boxes {
            counter-reset: number;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        #boxes div {
            width: 5vw;
            height: 5vw;
            min-width: 5em;
            min-height: 5em;
            background: var(--color, #aaa);
            --dx: calc(var(--size) - var(--x));
            --dy: calc(var(--size) - var(--y));
        }

        #boxes div:first-child {
            --x: 84;
            --y: 75;
            --size: 128;
        }

        #boxes div:first-child,
        #boxes div:hover {
            opacity: 1;
            border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
            border-radius: calc(var(--x) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--dx)
            / var(--size) * 100%) calc(var(--x) / var(--size) * 100%) /calc(var(--y) / var(--size) * 100%) calc(var(--y)
            / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%)
        }

        .forceText {
            text-anchor: middle;
            font-size: 50px;
            font-family: arial;
        }

        /**
         思维导图
         */
        #jsmind_container{
            width:100%;
            height:735px;
            border:solid 1px #ccc;
            background:#f4f4f4;
        }


        /*鼠标右键的菜单*/
        .context-menu {
            display: none;
            z-index: 1000;
            position: absolute;
            overflow: hidden;
            border: 1px solid #CCC;
            white-space: nowrap;
            font-family: sans-serif;
            background: #FFF;
            color: #333;
            border-radius: 5px;
            padding: 0;
        }

        /* 列表中的每个元素 */
        .context-menu li {
            padding: 8px 12px;
            cursor: pointer;
            list-style-type: none;
            transition: all .3s ease;
            user-select: none;
        }

        .context-menu li:hover {
            background-color: #DEF;
        }

        /*-----------------------------------------------------------------------------------*/
        .widget {
            z-index: 9999;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .5);
        }

        .widget .body {
            width: 300px;
            background: #fff;
            padding: 20px 10px;
            border-radius: 2px;
            border: 1px solid #ccc;
            text-align: center;
            position: absolute;
            font-size: 14px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .widget .body .btns {
            margin-top: 20px;
        }

        .widget .body .btns a.btn-cancel {
            color: #fff;
            background: #ccc;
        }

        .widget .body .btns a {
            background: inherit;
            background-color: rgba(68, 181, 73, 1);
            border: none;
            border-radius: 2px;
            color: #fff;
            font-size: 14px;
            display: inline-block;
            padding: 8px 25px;
            cursor: pointer;
            margin-left: 10px;
        }

        /*.ConvenienceVisaSon {*/
        /*    position: absolute;*/
        /*}*/

        /*-----------------------------------------------------------------------------------*/

    </style>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>jsMind</title>
    <!--jsmind-->
    <link th:href="@{/css/jsmind.css}" rel="stylesheet"/>
    <!-- Styles -->
    <link th:href="@{/css/lib/htmleaf-demo.css}" rel="stylesheet">
    <link th:href="@{/css/lib/default.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/component.css}" rel="stylesheet"/>
    <link th:href="@{/fontAwesome/css/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/css/lib/mmc-chat.css}" rel="stylesheet">
    <link th:href="@{/css/lib/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/nixon.css}" rel="stylesheet">
    <link th:href="@{/css/lib/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/lib/jaliswall/normalize.css}" rel="stylesheet">
    <style type="text/css">
        #jsmind_container{
            width:100%;
            height:700px;
            border:solid 1px #ccc;
            /*background:#f4f4f4;*/
            background:#f4f4f4;
        }
    </style>
</head>
<body>
<div id="jsmind_container"></div>
<script th:src="@{/js/jsmind/jsmind.js}"></script>
<script th:src="@{/js/jsmind/jsmind.draggable.js}"></script>
<script th:src="@{/js/lib/modernizr.custom.js}"></script>
<script th:src="@{/js/lib/jquery.min.js}"></script><!-- jquery vendor -->
<script>window.jQuery || document.write('<script th:src="@{/js/jquery-1.11.0.min.js}"><\/script>')</script>
<script th:src="@{/js/lib/jquery.nanoscroller.min.js}"></script><!-- nano scroller -->
<script th:src="@{/js/lib/d3/d3.v3.min.js}" charset="utf-8"></script>
<script th:src="@{/js/lib/sidebar.js}"></script><!-- sidebar -->
<script th:src="@{/js/lib/bootstrap.min.js}"></script><!-- bootstrap -->
<script th:src="@{/js/lib/mmc-common.js}"></script>
<script th:src="@{/js/lib/mmc-chat.js}"></script>
<script th:src="@{/js/lib/chart-js/Chart.bundle.js}"></script>
<script th:src="@{/js/lib/chart-js/chartjs-init.js}"></script>
<script th:src="@{/js/lib/float-module.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-waterfall.js}"></script>
<script th:src="@{/js/jaliswall.js}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/script.js/2.5.9/script.min.js"></script>
<!--<script src="/js/scripts.js"></script>-->
<script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.5.0/sockjs.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script th:src="@{/js/FastJSON.js}"></script>
<!--词云-->
<script th:src="@{/js/D3/jquery.min.js}"></script>
<script th:src="@{/js/D3/d3.v3.min.js}"></script>
<script th:src="@{/js/D3/d3.layout.cloud.js}"></script>
<script th:src="@{/js/D3/WordCloud.js}"></script>
<script type="text/javascript">
    function load_jsmind(){
        var mind = {
            "meta":{
                "name":"demo",
                "author":"hizzgdev@163.com",
                "version":"0.2",
            },
            "format":"node_array",
            "data":[
                {"id":"root", "isroot":true, "topic":"jsMind"},

                {"id":"sub1", "parentid":"root", "topic":"sub1", "background-color":"#0000ff"},
                {"id":"sub11", "parentid":"sub1", "topic":"sub11"},
                {"id":"sub12", "parentid":"sub1", "topic":"sub12"},
                {"id":"sub13", "parentid":"sub1", "topic":"sub13"},

                {"id":"sub2", "parentid":"root", "topic":"sub2"},
                {"id":"sub21", "parentid":"sub2", "topic":"sub21"},
                {"id":"sub22", "parentid":"sub2", "topic":"sub22","foreground-color":"#33ff33"},

                {"id":"sub3", "parentid":"root", "topic":"sub3"},
            ]
        };
        var options = {
            container:'jsmind_container',
            editable:true,
            theme:'primary'
        }
        var jm = jsMind.show(options,mind);
        // jm.set_readonly(true);
        // var mind_data = jm.get_data();
        // alert(mind_data);
        jm.add_node("sub2","sub23", "new node", {"background-color":"red"});
        jm.set_node_color('sub21', 'green', '#ccc');
    }

    load_jsmind();
</script>
</body>
</html>