<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nonlinear Visualization</title>
    <!-- Styles -->
    <link href="/css/lib/default.css" rel="stylesheet"/>
    <link href="/css/lib/component.css" rel="stylesheet"/>
    <link href="/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/mmc-chat.css" rel="stylesheet">
    <link href="/css/lib/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/nixon.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/lib/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/lib/style.min.css" rel="stylesheet">
    <style type="text/css">

        #boxes div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        #boxes {
            counter-reset: number;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        #boxes div {
            width: 5vw;
            height: 5vw;
            min-width: 5em;
            min-height: 5em;
            background: var(--color, #aaa);
            --dx: calc(var(--size) - var(--x));
            --dy: calc(var(--size) - var(--y));
        }

        #boxes div:first-child {
            --x: 84;
            --y: 75;
            --size: 128;
        }

        #boxes div:first-child,
        #boxes div:hover {
            opacity: 1;
            border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
            border-radius: calc(var(--x) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--x) / var(--size) * 100%) /
    calc(var(--y) / var(--size) * 100%) calc(var(--y) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%)
        }

        .forceText {
            text-anchor: middle;
            font-size: 50px;
            font-family: arial;
        }


    </style>
</head>

<body class="sidebar-hide" style="overflow-y:hidden">

<div id="leftOne" class="sidebar sidebar-shrink">

</div><!-- /# sidebar -->


<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a th:href="|/prototype/${account}/${curProjectId}/${curVersionId}|">
                <img id="logoImg" src="/logo/logo.png" data-logo_big="/logo/logo.png"
                     data-logo_small="/logo/logoSmall.png"
                     alt="Nixon"/>
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib" onclick="backProjectPage()">
                <span class="user-avatar"><i class="ti-back-right"> </i> Back Project Page</span>
            </li>
        </ul>
    </div>
</div>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <!-- Bar Chart -->
                    <div class="col-lg-12" style="margin-top: -15px">
                        <div class="card alert" style="height: 140px">
                            <section id="set-6" style="margin-top: -10px;margin-bottom: 5px">
                                <div class="hi-icon-wrap hi-icon-effect-6">
                                    <a id="exploreButton" class="hi-icon hi-icon-archive"
                                       onclick="enterAnotherPage('explore')">
                                        Settings
                                    </a>

                                    <a class="hi-icon hi-icon-support" onclick="enterAnotherPage('define')">
                                        Support
                                    </a>
                                    <a class="hi-icon hi-icon-star" onclick="enterAnotherPage('ideate')">
                                        Fav
                                    </a>
                                    <a class="hi-icon hi-icon-contract" onclick="enterAnotherPage('prototype')">
                                        Contract
                                    </a>
                                    <a class="hi-icon hi-icon-refresh" onclick="enterAnotherPage('test')">
                                        Refresh
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div style="height: 500px;background: white">
                            <tr th:each="version:${versions}">
                                <div class="col-sm-2" th:id="|version${version.versionId}|"
                                     th:onclick="|clickOneVersion(${version.versionId})|">
                                    <div class="card" style="height: 400px;">
                                        <div class="card-header bg-primary" th:id="|color${version.versionId}|">
                                            <h4 th:id="|versionName${version.versionId}|"
                                                th:ondblclick="|modifyVersionName('${version.versionId}')|"><span
                                                    th:text="${version.versionName}"></span></h4>
                                            <ul class="card-actions">
                                                <li>
                                                    <button th:onclick="|deleteOneVersionById('${version.versionId}')|"
                                                            type="button" data-toggle="tooltip" title="刪除"><i
                                                            class="mdi mdi-delete"></i></button>
                                                </li>

                                            </ul>
                                            <!-- .card-actions -->
                                        </div>
                                        <div class="card-body" style="border:solid 1px #33cabb;">
                                            <p>版本次序：<span th:text="${version.versionOrder}"></span></p>
                                            <div th:id="|versionInfo${version.versionId}|" hidden="hidden"
                                                 th:value="${version.versionInfo}">
                                                <p th:text="${version.versionInfo}"></p>
                                            </div>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>

                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <div id="boxes">
                                <div style="--color: #ff9800;position: absolute;right: 62px;top: 380px;">
                                    <text onclick="addNewVersion()" class="forceText" style="color: white">+</text>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div style="background: white;height: 110px;">
                            <div class="card alert">
                                <div class="card-header" style="padding: 5px 24px">
                                    <h4>版本信息</h4>
                                    <button onclick="enterAnotherVersion()" type="button"
                                            class="btn btn-info btn-flat btn-lg"
                                            style="margin-top:-50px;margin-left: 91%;">
                                        <span class="ti-arrow-right"></span> 进入此版本
                                    </button>
                                </div>
                                <div class="card-body" style="height: 110px">
                                    <div class="panel-group" style="height: 100px">
                                        <div class="panel panel-default" style="height: 95px">
                                            <div class="panel-heading" style="height: 95px">
                                                <h4 id="curVersionInfo"></h4>

                                                </h4>
                                            </div>

                                        </div>


                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- /# container-fluid -->
    </div><!-- /# main -->

</div><!-- /# content wrap -->

<script src="/js/lib/modernizr.custom.js"></script>
<script src="/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script>window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="/js/lib/d3/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
<script src="/js/lib/mmc-common.js"></script>
<script src="/js/lib/mmc-chat.js"></script>
<script src="/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/js/lib/chart-js/chartjs-init.js"></script>
<script src="/js/lib/float-module.min.js"></script>
<script th:inline="javascript">

    var account = [[${account}]];
    var curProjectId = [[${curProjectId}]];
    var curVersionId = [[${curVersionId}]];

    function backProjectPage() {
        var anotherPageUrl = "/projectList/" + account;
        window.location.href = anotherPageUrl;

    }

    var curClickVersionId = curVersionId;
    var anotherPageUrl;
    //使每个版本既可以单击也可以双击
    var clickTimer = null;


    var theNewestVersionId = [[${theNewestVersionId}]];
    if (curVersionId == null) {
        curVersionId = theNewestVersionId;
    }
    $("#color" + curVersionId).attr("class", "card-header bg-success");

    window.onload = function (ev) {
        var versionInfo = document.getElementById("versionInfo" + curVersionId).innerText;
        versionInfo = versionInfo.toString().replace(/^\s+|\s+$/g, "");
        document.getElementById("curVersionInfo").innerHTML = "<h id='versionInfo" + curVersionId + "' ondblclick=\"modifyVersionInfo(" + "'" + curVersionId + "'" + ")\">" + versionInfo + " </h>";

    };

    function clickOneVersion(versionId) {
        if (clickTimer) {
            window.clearTimeout(clickTimer);
            clickTimer = null;
        }
        clickTimer = window.setTimeout(function () {
            $("#color" + curClickVersionId).attr("class", "card-header bg-primary");
            $("#color" + curVersionId).attr("class", "card-header bg-primary");
            $("#color" + versionId).attr("class", "card-header bg-success");
            curClickVersionId = versionId;
            var versionInfo = document.getElementById("versionInfo" + curClickVersionId).innerText;
            versionInfo = versionInfo.toString().replace(/^\s+|\s+$/g, "");
            document.getElementById("curVersionInfo").innerHTML = "<h id='versionInfo" + versionId + "' ondblclick=\"modifyVersionInfo(" + "'" + versionId + "'" + ")\">" + versionInfo + " </h>";


        }, 300);

    }


    function modifyVersionInfo(versionId) {
        var oldVersionInfo = document.getElementById("versionInfo" + versionId).innerText;
        oldVersionInfo = oldVersionInfo.toString().replace(/^\s+|\s+$/g, "");
        var newVersionInfo = prompt("请输入新的版本信息:", oldVersionInfo);
        if (newVersionInfo != "" && newVersionInfo != null) {
            $.ajax({
                type: 'POST',
                url: '/modifyVersionInfo',
                data: {
                    "versionId": versionId,
                    "newVersionInfo": newVersionInfo
                },
                success: function (data, status) {
                    document.getElementById("curVersionInfo").innerHTML = "<h id='versionInfo" + versionId + "' ondblclick=\"modifyVersionInfo(" + "'" + versionId + "'" + ")\">" + newVersionInfo + " </h>";

                }
            });
        }

    }


    function modifyVersionName(versionId) {
        if (clickTimer) {
            window.clearTimeout(clickTimer);
            clickTimer = null;
        }
        var oldVersionName = document.getElementById("versionName" + versionId).innerText;
        var newVersionName = prompt("请输入更改后的新版本名称:", oldVersionName);
        if (newVersionName != null && newVersionName != "") {
            $.ajax({
                type: 'POST',
                url: '/modifyVersionName',
                data: {
                    "versionId": versionId,
                    "newVersionName": newVersionName
                },
                success: function (data, status) {
                    document.getElementById("versionName" + versionId).innerText = newVersionName;
                }
            });
        }

    }


    function enterAnotherVersion() {
        var r = confirm("是否进入此版本？");
        if (r == true) {
            curVersionId = curClickVersionId;
            var newPageUrl = "/test/" + account + "/" + curProjectId + "/" + curVersionId;
            window.location.href = newPageUrl;
            alert("进入成功!");
        }
    }

    function enterAnotherPage(page) {
        var anotherPageUrl = "/" + page + "/" + account + "/" + curProjectId + "/" + curVersionId;
        window.location.href = anotherPageUrl;

    }

    function addNewVersion() {
        var pr = prompt("请输入版本名:", "V：");
        if (pr != null && pr != "") {
            $.ajax({
                type: 'POST',
                url: '/addNewVersion',
                data: {
                    "curProjectId": curProjectId,
                    "versionName": pr
                },
                success: function (data, status) {
                    alert("添加新版本成功!");
                    anotherPageUrl = "/test/" + account + "/" + curProjectId + "/" + curVersionId;
                    window.location.href = anotherPageUrl;
                }
            });
        }
    }


    function deleteOneVersionById(versionId) {
        var r = confirm("是否删除这个版本?");
        var deleteVersion = versionId;
        var newestVersionId;
        if (r == true) {
            if (deleteVersion == curVersionId) {
                $.ajax({
                    type: 'POST',
                    url: '/deleteOneVersionById',
                    data: {
                        "curProjectId": curProjectId,
                        "versionId": versionId
                    },
                    success: function (data, status) {
                        alert("删除成功");
                        $.ajax({
                            type: 'POST',
                            url: '/getTheNewestVersionId',
                            data: {
                                "curProjectId": curProjectId
                            },
                            success: function (data, status) {
                                newestVersionId = data;
                                anotherPageUrl = "/test/" + account + "/" + curProjectId + "/" + newestVersionId;
                                window.location.href = anotherPageUrl;
                            }
                        });
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/deleteOneVersionById',
                    data: {
                        "curProjectId": curProjectId,
                        "versionId": versionId
                    },
                    success: function (data, status) {
                        anotherPageUrl = "/test/" + account + "/" + curProjectId + "/" + curVersionId;
                        window.location.href = anotherPageUrl;
                    }
                });
            }

        }
    }


</script>

<script src="/js/scripts.js"></script>


</body>

</html>