<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nonlinear Visualization</title>
    <!-- Styles -->
    <link href="/css/lib/htmleaf-demo.css" rel="stylesheet">
    <link href="/css/lib/default.css" rel="stylesheet"/>
    <link href="/css/lib/component.css" rel="stylesheet"/>
    <link href="/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/mmc-chat.css" rel="stylesheet">
    <link href="/css/lib/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/nixon.css" rel="stylesheet">
    <link href="/css/lib/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link href="/css/lib/jaliswall/normalize.css" rel="stylesheet">
    <!--<link href="/css/lib/jaliswall/default.css" rel="stylesheet">-->
    <!--<link href="/css/lib/jaliswall/styles.css" rel="stylesheet">-->


    <style type="text/css">

        #boxes div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        #boxes {
            counter-reset: number;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        #boxes div {
            width: 5vw;
            height: 5vw;
            min-width: 5em;
            min-height: 5em;
            background: var(--color, #aaa);
            --dx: calc(var(--size) - var(--x));
            --dy: calc(var(--size) - var(--y));
        }

        #boxes div:first-child {
            --x: 84;
            --y: 75;
            --size: 128;
        }

        #boxes div:first-child,
        #boxes div:hover {
            opacity: 1;
            border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
            border-radius: calc(var(--x) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%) calc(var(--x) / var(--size) * 100%) /
    calc(var(--y) / var(--size) * 100%) calc(var(--y) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%)
        }

        .forceText {
            text-anchor: middle;
            font-size: 50px;
            font-family: arial;
        }
    </style>


</head>

<body class="sidebar-hide" style="overflow:Scroll;overflow-y:hidden">

<div id="leftOne" class="sidebar sidebar-shrink">

</div><!-- /# sidebar -->


<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a th:href="|/prototype/${account}/${curProjectId}/${curVersionId}|">
                <img id="logoImg" src="/logo/logo.png" data-logo_big="/logo/logo.png"
                     data-logo_small="/logo/logoSmall.png"
                     alt="Nixon"/>
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib" onclick="backProjectPage()">
                <span class="user-avatar"><i class="ti-back-right"> </i> Back Project Page</span>
            </li>
        </ul>
    </div>
</div>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <!-- Bar Chart -->
                    <div class="col-lg-12" style="margin-top: -15px">
                        <div class="card alert" style="height: 140px">
                            <section id="set-6" style="margin-top: -10px;margin-bottom: 5px">
                                <div class="hi-icon-wrap hi-icon-effect-6">
                                    <a id="exploreButton" class="hi-icon hi-icon-archive"
                                       onclick="enterAnotherPage('explore')">
                                        Settings
                                    </a>
                                    <a class="hi-icon hi-icon-support" onclick="enterAnotherPage('define')">
                                        Support
                                    </a>
                                    <a class="hi-icon hi-icon-star" onclick="enterAnotherPage('ideate')">
                                        Fav
                                    </a>
                                    <a class="hi-icon hi-icon-contract" onclick="enterAnotherPage('prototype')">
                                        Contract
                                    </a>
                                    <a class="hi-icon hi-icon-refresh" onclick="enterAnotherPage('test')">
                                        Refresh
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <article class="htmleaf-container">
                            <div class="wall" style="height: 735px;background: white">
                                <!-- /# row -->

                                <div style="margin-left: 10px;margin-top: 10px"
                                     th:each="category:${categoryList}" class="col-lg-2 article">
                                    <div style="border:solid 2px #c2c2c2"
                                         class="card alert panel panel-default">
                                        <div class="card-header">
                                            <h4>
                                                <span th:id="|categoryName${category.categoryId}|"
                                                      th:ondblclick="|modifyCategoryName('${category.categoryId}')|"
                                                      th:text="${category.categoryName}">
                                                </span>
                                            </h4>
                                            <div style="position: absolute;right: 61px;top: 40px;">
                                                <span th:onclick="|addNewIdea('${category.categoryId}')|"
                                                      class="ti-plus"></span>
                                                <span th:onclick="|deleteOneCategory('${category.categoryId}')|"
                                                      class="ti-minus"></span>
                                            </div>
                                        </div>
                                        <div class="card-body panel-body">
                                            <table class="table table-responsive table-hover ">
                                                <tbody>

                                                <tr th:id="|idea${idea.ideaId}|"
                                                    th:each="idea:${category.ideaList}">
                                                    <td>
                                                        <a th:id="|ideaContent${idea.ideaId}|"
                                                           th:ondblclick="|modifyIdeaContent('${idea.ideaId}')|"
                                                           th:text="${idea.ideaContent}">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <span style="height: 16px;width: 16px;;"
                                                              th:onclick="|clickOneIdeaMark('${idea.ideaId}')|"
                                                              th:id="|heart${idea.ideaId}|" th:switch="${idea.marked}">
                                                            <img th:case="true"
                                                                 style="height: 16px;width: 16px;margin-top: -5px"
                                                                 src="/images/svg/heart2.svg"/>
                                                            <img th:case="false"
                                                                 style="height: 16px;width: 16px;margin-top: -5px"
                                                                 src="/images/svg/heart.svg"/>

                                                        </span>
                                                        <span th:onclick="|deleteOneIdeaById('${idea.ideaId}')|"
                                                              class="ti-trash"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="boxes" onclick="addNewCategory()">
                                <div style="--color: #C0C0C0;position: absolute;right: 35px;bottom: 20px;">
                                    <text class="forceText" style="color: white">+</text>
                                </div>
                            </div>
                        </article>


                    </div>
                </div>
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->

    </div><!-- /# content wrap -->

    <script src="/js/lib/modernizr.custom.js"></script>
    <script src="/js/lib/jquery.min.js"></script><!-- jquery vendor -->
    <script>window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
    <script src="/js/lib/d3/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="/js/lib/mmc-common.js"></script>
    <script src="/js/lib/mmc-chat.js"></script>
    <script src="/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/js/lib/chart-js/chartjs-init.js"></script>
    <script src="/js/lib/float-module.min.js"></script>
    <script src="/js/lib/bootstrap-waterfall.js"></script>
    <script src="/js/lib/jaliswall.js"></script>
    <script>

        var account = [[${account}]];
        var curProjectId = [[${curProjectId}]];
        var curVersionId = [[${curVersionId}]];
        var refreshPage = "/ideate/" + account + "/" + curProjectId + "/" + curVersionId;

        function backProjectPage() {
            var anotherPageUrl = "/projectList/" + account;
            window.location.href = anotherPageUrl;

        }

        $(function () {
            $('.wall').jaliswall({item: '.article'});
        });

        function clickOneIdeaMark(ideaId) {

            $.ajax({
                type: 'POST',
                url: '/changeIdeaMarkById',
                data: {
                    "ideaId": ideaId
                },
                success: function (data, status) {
                    window.location.href = refreshPage;
                }
            });

        }

        function addNewCategory() {
            var categoryName = prompt("请输入类别名称:", "类别x");
            if (categoryName != null && categoryName != "") {
                $.ajax({
                    type: 'POST',
                    url: '/addNewCategory',
                    data: {
                        "projectId": curProjectId,
                        "categoryName": categoryName
                    },
                    success: function (data, status) {
                        window.location.href = refreshPage;
                    }
                });
            }
        }


        function deleteOneCategory(categoryId) {
            var r = confirm("是否删除该类别");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '/deleteOneCategoryById',
                    data: {
                        "categoryId": categoryId
                    },
                    success: function (data, status) {
                        window.location.href = refreshPage;
                    }
                });
            }

        }


        function addNewIdea(categoryId) {
            var ideaContent = prompt("请输入新想法的内容:", "想法x");
            if (ideaContent !== null && ideaContent != "") {
                $.ajax({
                    type: 'POST',
                    url: '/addNewIdea',
                    data: {
                        "categoryId": categoryId,
                        "ideaContent": ideaContent
                    },
                    success: function (data, status) {
                        window.location.href = refreshPage;
                    }
                });
            }

        }


        function deleteOneIdeaById(ideaId) {
            var r = confirm("是否删除该想法?");

            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '/deleteOneIdeaById',
                    data: {
                        "ideaId": ideaId
                    },
                    success: function (data, status) {
                        document.getElementById("idea" + ideaId).remove();
                    }
                });
            }

        }


        function enterAnotherPage(page) {
            var anotherPageUrl = "/" + page + "/" + account + "/" + curProjectId + "/" + curVersionId;
            window.location.href = anotherPageUrl;

        }


        function modifyCategoryName(categoryId) {
            var oldName = document.getElementById("categoryName" + categoryId).innerHTML;
            var categoryName = prompt("请输入新的类别名称:", oldName);
            if (categoryName != "" && categoryName != null) {
                $.ajax({
                    type: 'POST',
                    url: '/modifyCategoryName',
                    data: {
                        "categoryId": categoryId,
                        "categoryName": categoryName
                    },
                    success: function (data, status) {
                        document.getElementById("categoryName" + categoryId).innerHTML = categoryName;
                    }
                });
            }
        }


        function modifyIdeaContent(ideaId) {

            var oldContent = document.getElementById("ideaContent" + ideaId).innerHTML;
            var ideaContent = prompt("请输入新的想法内容:", oldContent);
            if (ideaContent != "" && ideaContent != null) {
                $.ajax({
                    type: 'POST',
                    url: '/modifyIdeaContent',
                    data: {
                        "ideaId": ideaId,
                        "ideaContent": ideaContent
                    },
                    success: function (data, status) {
                        alert("修改内容成功!");
                        document.getElementById("ideaContent" + ideaId).innerHTML = ideaContent;
                    }
                });
            }
        }


    </script>

    <script src="/js/scripts.js"></script>
</div>

</body>

</html>