<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.5.0/sockjs.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
</head>
<body>
<text th:text="${id}"></text>
<span th:text="oooooooooooo"></span>
<div id="msg" style="color: #1d7db1">'${id}'</div>
<script>
    var id= 1;
    console.log(id);
    var sockJS=new SockJS("http://localhost:8080/socket");
    var stompClient=Stomp.over(sockJS);
    stompClient.connect({},function(data){
        //订阅
        alert("sdsssssssssss");
        stompClient.subscribe("/user/1/server/sendMessageByServer",function (response) {
            alert("stompClient.subscribe执行了！！！！");
            $("#msg").append(response.body+"<br/>");

        })
        console.log("stompClient.connect()方法执行么！");
        console.log(data);
    })
    console.log("hello--------");
</script>
</body>
</html>
