body {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
}
canvas {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background: black;
}

iframe#shader {
    display: none;
}

div#loading {
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: white;
    pointer-events: none;
}

div#command {
    position: fixed;
    right: 0px;
    top: 0px;
    color: rgba(255,255,255,0.4);
    pointer-events: none;
}
div#command table {
    color: rgba(255,255,255,0.4);
    margin: 0;
    padding: 0;
    border: 0;
}
div#command tr, div.command td {
    color: rgba(255,255,255,0.4);
    margin: 0;
    padding: 0;
    border: 0;
}
div#command tr.header {
    color: rgba(255,255,0,0.4);
}
div#command td.count {
    text-align: right;
    width: 50px;
}
div#command td.command {
    width: 300px;
}

div#options {
    position: fixed;
    left: 0px;
    top: 0px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
div#options table {
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
}
div#options tr, div.options td {
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    height: 20px !important;
}
div#options td.header {
    color: #FFFF00;
}

div#source {
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: #808080;
    text-align: right;
}
a {
    text-decoration: none;
    color: #404040;
}

select {
    font-family: 'Questrial', sans-serif;
}
input[type=range], ::-moz-range-track, ::-ms-track {
    -webkit-appearance: none;
    background-color: #3f91e5;
    width: 250px;
    height:12px;
}
::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {
    -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 12px;
}
input:focus {
    outline: none;
}